---
import { getUsers } from "../../lib/api";
import Base from "../../layouts/Base.astro";

export async function getStaticPaths() {
  const users = await getUsers();

  return users.map((user) => ({
    params: { id: user.id },
    props: { user },
  }));
}

const { user } = Astro.props;
---

<Base title={user.firstName}>
  <h1 class="text-4xl font-bold text-indigo-100 drop-shadow-glow">
    {user.firstName}&nbsp;{user.lastName}
  </h1>
  <img class="w-20 mb-4" src={user.image} alt={user.firstName} />
  <p>This is a dynamic route (created at build time)</p>
</Base>
